<h1>The Pasha's Wall</h1>
    <poster-comp></poster-comp>
<br/>
<form class ="form-inline">
    <input type="search" class="form-control" placeholder="Search.." (change)="reload()" name = "template" [(ngModel)]="template">
    <select name="region" id ="region-select" 
            ng-options="option.desc for option in regions track by option.value"
            ng-model="region" (change)="reload()">
    </select>
    <button type="submit" class="btn btn-default" (click)="reload()">Go!</button>
</form>
<br/>
<div *ngFor="let post of posts">
    <h3>{{post.title}}<small><i> {{post.creationTime | date:"MM/dd/yyyy 'at' h:mma"}}</i></small></h3>
    <p>{{post.content}}</p>
</div>